<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>


<body class="font-roboto"></body>
<% if(user) { %>
    <!-- hidden form to add folders-->
    <div id="modal" class="fixed inset-0 hidden items-center justify-center bg-black/50 z-2">
        <div id="modalContent" class="bg-base p-2  rounded-xl w-66  ">
            <form class="rounded-xl w-46" action="/folder/<%=singleFolder.id%>?_method=PATCH" method="post">

                    <input type="hidden" name="folderId" value="<%=user.id%>">
                    <input class="p-2 block rounded-xl border-2 border-gray-200 bg-gray-100" type="text" name="name" required placeholder="New folder name">
                    <button id="closeModalBtn" class="mt-3 bg-accent py-2 px-5 hover:text-secondary transition duration-200 text-base rounded-xl cursor-pointer" type="submit">Update name</button>
            </form>
        </div>
    </div>

    <!-- Hidden form DELETE folder-->
    <div id="modalBin" class="fixed inset-0 hidden items-center justify-center bg-black/50 z-2">
        <div id="modalContentBin" class="bg-base p-8  rounded-xl w-86  ">
                 <form class="flex justify-center gap-2" action="/folder/<%=singleFolder.id%>?_method=DELETE" method="post">
                    <div  class="mr-4">This action will delete the folder and all files inside. Continue?</div>
                    <div class="flex justify-center gap-2 self-end">
                    <button id="submitBin" class="" type="submit">
                        <img id="ok" class="block w-6 h-6 hover:scale-125 cursor-pointer transition duration-200" src="/images/check.png"  alt="Delete">
                    </button>
                    <img id="x" class="block w-6 h-6 hover:scale-125 cursor-pointer transition duration-200" src="/images/remove.png" alt="">
                </div>
            </form>
        </div>
    </div>


    <div class="p-10 min-h-screen">
        <nav class="flex justify-between  items-center">
            <div class="rounded-3xl cursor-pointer hover:bg-gray-100 transition">
                <img class="w-10 h-10" src="/images/search.png">
            </div>
            <div class="text-3xl font-roboto"><a href="/">File Storage</a></div>
            <div class="right-nav">
                <a href="/logout">
                    <img class="w-10 h-10 cursor-pointer" src="/images/logout.png" alt="">
                </a>
            </div>
        </nav>

        <main>
            <section class="flex py-5 px-10 mt-10 bg-gray-100 justify-center rounded-2xl items-center flex-col relative">
                <div class="text-xl">
                    <% if(singleFolder) { %>
                        <div class="flex justify-center gap-2">
                            <div class="text-3xl text-secondary">
                                <%=singleFolder.name %>
                            </div>
                            <div class="w-4 h-4 self-end ">
                                <img class="w-4 h4 block cursor-pointer" id="openModalBtn" src="/images/edit.png" alt="edit">
                            </div>
                        </div>
                        <% } else { %>
                            Folder
                            <% } %>
                </div>
                <div
                    class="grid p-10 bg-gray-100  rounded-2xl  mt-5 gap-5 grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-center">
                    <div id="openModalBtnBin" class="absolute bottom-4 right-4">
                        <img  src="/images/bin.png" class="w-6 hover:scale-125 transition duration-200 h-6 cursor-pointer" alt="bin">
                    </div>
                </div>
            </section>

            <section
                class="grid p-10 bg-gray-100  rounded-2xl  mt-5 gap-5 grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-center ">
                <% if(folders){ %>
                    <% folders.forEach(folder=> { %>
                        <a href="/folder/<%=folder.id%>">
                        <div
                            class="flex flex-col p-2 transition hover:scale-120 duration-200 cursor-pointer gap-0.5 m-auto">
                            <img src="/images/open-folder.png" class="h-16 w-18 block" alt="folder">
                            <div class="text-4l text-center">
                                <%= folder.name %>
                            </div>
                        </div>
                    </a>
                        <% }) %>
                            <% } %>
            </section>
        </main>
    </div>

    <!-- if user doesn't exists 
        -->

    <%} else { %>
        <div class="min-h-screen bg-[url('/images/background-5.jpg')] bg-cover bg-center
            flex justify-center items-center p-10 ">
            <div class="bg-base p-10 py-15 shadow-2xl  rounded-4xl flex flex-col justify-center items-center">
                <h1 class="text-secondary font-bold mb-5 text-center  text-3xl">Simplify your file storage</h1>
                <div class="text-sm text-center opacity-55">Upload, manage and organize your files in one place</div>
                <button
                    class="bg-accent rounded-3xl mt-5 cursor-pointer w-full py-4 px-10 text-3xl font-bold text-shadow  text-base"><a
                        href="/log-in">Let's go</a>
                </button>
            </div>
        </div>
        <% } %>
            <% if(user) { %>
                <h1 class="">Welcome <%=user.email%>
                </h1>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="document" id="document">
                    <button type="submit">Upload</button>
                </form>

                
                <% } else { %>
                    <% } %>
                    <script src="/scripts/folderModals.js"></script>
                        </body>

</html>