<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" href="/images/open-folder.png">

</head>


<body class="font-roboto"></body>
<% if(user) { %>
    <!-- hidden form to add folders-->
    <div id="modal" class="fixed inset-0 hidden items-center justify-center bg-black/50 z-2">
        <div id="modalContent" class="bg-base p-2  rounded-xl w-66  ">
            <form class="rounded-xl w-46" action="/folder/<%=singleFolder.id%>?_method=PATCH" method="post">

                <input type="hidden" name="folderId" value="<%=user.id%>">
                <input class="p-2 block rounded-xl border-2 border-gray-200 bg-gray-100" type="text" name="name"
                    required placeholder="New folder name">
                <button id="closeModalBtn"
                    class="mt-3 bg-accent py-2 px-5 hover:text-secondary transition duration-200 text-base rounded-xl cursor-pointer"
                    type="submit">Update name</button>
            </form>
        </div>
    </div>

    <!-- Hidden form DELETE folder-->
    <div id="modalBin" class="fixed inset-0 hidden items-center justify-center bg-black/50 z-2">
        <div id="modalContentBin" class="bg-base p-8  rounded-xl w-86  ">
            <form class="flex justify-center gap-2" action="/folder/<%=singleFolder.id%>?_method=DELETE" method="post">
                <div class="mr-4">This action will delete the folder and all files inside. Continue?</div>
                <div class=" justify-between w-32 flex gap-2 items-end -mr-2.5">
                    <button id="submitBin" class="w-6 h-6 relative z-10 p-0 m-0 bg-red border-0" type="submit">
                        <img id="ok" class="block w-6 h-6 hover:scale-125 cursor-pointer transition duration-200"
                            src="/images/check.png" alt="Delete">
                    </button>
                    <img id="x" class="block w-6 h-6 hover:scale-125 cursor-pointer transition duration-200"
                        src="/images/remove.png" alt="">
                </div>
            </form>
        </div>
    </div>

    <!--hidden SIDE PANEL -->
    <div id="panel-container" class="fixed shadow-[ -4px_0_10px_rgba(0,0,0,0.2) ] right-0 top-0 bottom-0 p-10 w-80 h-full bg-base z-4 translate-x-full  transition duration-500 ">
        <div id="close-panel" class=" text-right text-red-600">
            <img src="/images/remove.png" class="w-8 h-8 cursor-pointer hover:scale-125 transition duration-200 float-right" alt="X">
        </div>
        <div id="name-panel" class="mt-25 text-4xl mb-5"></div>
        <div id="url-panel" class="text-2xl hover:text-secondary transition duration-200">
            <a id="a-panel" target="_blank" href="">Open file</a>
        </div>
        <div id="created-at" class="mt-5 opacity-35"></div>
        <div class="py-4 px-8 text-center border-0 mt-6 bg-accent rounded-2xl text-base w-48 cursor-pointer text-2xl 
        hover:text-secondary transition duration-200">
            <a id="a-download" href="">Download</a>
        </div>
    </div>

    <!-- Navigation-->
    <div class="p-10 min-h-screen">
        <nav class="flex justify-between  items-center relative">
            <div class="rounded-3xl cursor-pointer hover:bg-gray-100 transition">
                <img class="w-10 h-10" id="icon-search" src="/images/search.png">
            </div>
            <div class="text-sm p-2 hidden  border-2 bg-white top-0 w-5/6 sm:w-auto rounded-2xl outline-0 absolute z-2 " id="search-container">
                    <input class="outline-0 cursor-pointer block" type="text" id="search" name="search" placeholder="Search for a File">
                </div>
            <div class="absolute hidden overflow-y-scroll w-2/3 z-4 p-2 top-10 bg-white border-gray-200 border-2 h-32 " id="results-container">
                <ul class="overflow-hidden" id="ul-container">
                    
                </ul>
            </div>
            <div class="text-3xl font-roboto"><a href="/">File Storage</a></div>
            <div class="right-nav">
                <a href="/logout">
                    <img class="w-10 h-10 cursor-pointer" src="/images/logout.png" alt="">
                </a>
            </div>
        </nav>

        <main>
            <section class=" py-5 px-10 mt-10 bg-gray-100  rounded-2xl  relative">
                <div class="text-xl">
                    <% if(singleFolder) { %>
                        <div class="flex justify-center gap-2">
                            <div class="text-3xl text-center text-secondary">
                                <%=singleFolder.name %>
                            </div>
                            <div class="w-4 h-4 self-end ">
                                <img class="w-4 h4 block cursor-pointer" id="openModalBtn" src="/images/edit.png"
                                    alt="edit">
                            </div>
                        </div>
                        <% } else { %>
                            Folder
                            <% } %>
                </div>
                <div class="mt-12 mb-12 grid grid-cols-[repeat(auto-fill,minmax(80px,1fr))] gap-6">
                <% if(files){ %>
                    <% files.forEach(file=> { %>
                            <div data-name="<%=file.name%>"
                                data-url="<%=file.url%>"
                                data-createdat="<%=file.created_at%>"
                                class="grid files grid-rows-[70px_50px] p-2 transition hover:scale-120 duration-200 cursor-pointer gap-0.5 justify-center items-center">
                                <img src="/images/document.png" class="h-16 w-18 block" alt="folder">
                                <div class="text-4l text-center">
                                    <% if(file.name.length > 10) {
                                        const number = file.name.length - 10;
                                        const dot = file.name.lastIndexOf(".")
                                        const dotString = file.name.slice(dot, file.name.length)
                                        const stringName = file.name.slice(0, dot - number)
                                        const finalString = stringName.concat(dotString)
                                        
                                     %> 
                                    <span><%=finalString%></span> 
                                       <% } else { %>
                                        <span><%=file.name%></span>
                                        <%} %>
                                </div>
                            </div>
                        
                        <% }) %>
                            <% } %>
                </div>
                <div class="border-4  max-w-3xl rounded-2xl mt-5 m-auto p-2 flex border-blue-400 border-dashed justify-center items-center flex-col dragover" id="drop-area">
                    <form class="flex flex-col justify-center items-center"  action="/upload/<%=singleFolder.id%>" method="post" enctype="multipart/form-data">
                        <input class="hidden" type="file" name="document" id="document" required>
                        
                            <img id="img-upload" class="w-32 h-32  transition transform hover:opacity-85 duration-200 hover:scale-120" src="/images/upload.png" alt="upload image">
                            <div id="file-name" class="text-sm opacity-75"></div>
                        <button class="bg-accent py-2 px-8 mt-8 text-base  rounded-2xl hover:text-secondary duration-200 transition cursor-pointer -mb-8" type="submit">Upload</button>
                    </form>
                </div>


                <div id="openModalBtnBin" class="absolute  top-4 right-2">
                    <img src="/images/bin.png" class="w-6 hover:scale-125 transition duration-200 h-6 cursor-pointer"
                        alt="bin">
                </div>
            </section>

            <section
                class="grid p-10 bg-gray-100  rounded-2xl  mt-5 gap-5 grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-center ">
                <% if(folders){ %>
                    <% folders.forEach(folder=> { %>
                        <a href="/folder/<%=folder.id%>">
                            <div
                                class="flex flex-col p-2 transition hover:scale-120 duration-200 cursor-pointer gap-0.5 m-auto">
                                <img src="/images/open-folder.png" class="h-16 w-18 block" alt="folder">
                                <div class="text-4l text-center">
                                    <%= folder.name %>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                            <% } %>
            </section>
        </main>
    </div>

    <!-- if user doesn't exists 
        -->

    <%} else { %>
        <div class="min-h-screen bg-[url('/images/background-5.jpg')] bg-cover bg-center
            flex justify-center items-center p-10 ">
            <div class="bg-base p-10 py-15 shadow-2xl  rounded-4xl flex flex-col justify-center items-center">
                <h1 class="text-secondary font-bold mb-5 text-center  text-3xl">Simplify your file storage</h1>
                <div class="text-sm text-center opacity-55">Upload, manage and organize your files in one place</div>
                <button
                    class="bg-accent rounded-3xl mt-5 cursor-pointer w-full py-4 px-10 text-3xl font-bold text-shadow  text-base"><a
                        href="/log-in">Let's go</a>
                </button>
            </div>
        </div>
        <% } %>
            
                        <script src="/scripts/folderModals.js"></script>
                        <script src="/scripts/dragOver.js"></script>
                        <script src="/scripts/panel.js"></script>
                        </body>

</html>